.table {
  border: 1px solid black;
  width: 700px;
  background-color: rgb(48, 48, 48);
}

.head {
  color: #fff;
}

.row {
  text-align: center;
}

.row:nth-child(even) {
  background-color: darkgray;
}

.row:nth-child(odd) {
  background-color: white;
}

.type {
  text-transform: capitalize;
}

td {
  font-size: 18px;
  font-weight: 500;
}
